<!DOCTYPE html>
<html lang="sv">

<head>
    {'../partials/head.html'}
</head>

<body>

    {'../partials/header.html'}

    <main role="main">
        <article class="article">
            <section class="article__date">
                <time datetime="2018-03-15"> 2018.03.15</time>
            </section>
            <section class="article__header">
                <h1>Stark seriepremiär för Vingar A</h1>
            </section>
            <section class="article__intro">
                <p>I lördags var det dags för Vingar C att möta motståndarlaget IFK Nyköping hemma i Kanalhallen. En stark sexa
                    stod förberedd på plan för att möta bortalaget som var 2:a i serietabellen.</p>
            </section>
            <section class="article__content">
                <section class="article__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non imperdiet elit, sed blandit
                        ante. Pellentesque urna diam, pretium quis neque eleifend, scelerisque eleifend ligula. Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Quisque tristique nisi eu elit
                        viverra, ac tincidunt lorem blandit. Sed pharetra aliquam lacus, facilisis congue augue varius sit
                        amet. Proin dictum ullamcorper sodales. Curabitur dictum imperdiet nulla vitae venenatis. Morbi sodales
                        dolor id magna molestie interdum. Praesent ut dignissim mi.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non imperdiet elit, sed blandit
                        ante. Pellentesque urna diam, pretium quis neque eleifend, scelerisque eleifend ligula. Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Quisque tristique nisi eu elit
                        viverra, ac tincidunt lorem blandit. Sed pharetra aliquam lacus, facilisis congue augue varius sit
                        amet. Proin dictum ullamcorper sodales. Curabitur dictum imperdiet nulla vitae venenatis. Morbi sodales
                        dolor id magna molestie interdum. Praesent ut dignissim mi.</p>
                </section>
                <figure class="article__figure">
                    <div class="article__figureMedia">
                        <picture>
                            <source media="(max-width: 375px)" srcset="http://via.placeholder.com/375x264">
                            <source media="(max-width: 768px)" srcset="http://via.placeholder.com/768x328">
                            <img src="http://via.placeholder.com/690x460" alt="Volleyboll">
                        </picture>
                    </div>
                    <figcaption class="article__figureCaption">I lördags var det dags för Vingar C att möta motståndarlaget IFK Nyköping hemma i Kanalhallen. En stark
                        sexa stod förberedd på plan för att möta bortalaget som var 2:a i serietabellen.</figcaption>
                </figure>
                <section class="article__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non imperdiet elit, sed blandit
                        ante. Pellentesque urna diam, pretium quis neque eleifend, scelerisque eleifend ligula. Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Quisque tristique nisi eu elit
                        viverra, ac tincidunt lorem blandit. Sed pharetra aliquam lacus, facilisis congue augue varius sit
                        amet. Proin dictum ullamcorper sodales. Curabitur dictum imperdiet nulla vitae venenatis. Morbi sodales
                        dolor id magna molestie interdum. Praesent ut dignissim mi.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse non imperdiet elit, sed blandit
                        ante. Pellentesque urna diam, pretium quis neque eleifend, scelerisque eleifend ligula. Lorem ipsum
                        dolor sit amet, consectetur adipiscing elit. Aliquam erat volutpat. Quisque tristique nisi eu elit
                        viverra, ac tincidunt lorem blandit. Sed pharetra aliquam lacus, facilisis congue augue varius sit
                        amet. Proin dictum ullamcorper sodales. Curabitur dictum imperdiet nulla vitae venenatis. Morbi sodales
                        dolor id magna molestie interdum. Praesent ut dignissim mi.</p>
                </section>
            </section>
        </article>
    </main>

    {'../partials/footer.html'}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/gui/js/main.js"></script>
</body>

</html>