<header role="banner">
	<nav aria-labelledby="navigation__menuText" class="navigation">
			<a href="index.html">
		<div class="navigation__logo">
				<img src="../gui/images/if-stockholms-vingar-logga.svg" alt="" width="61" height="55"> 
		</div>
		<div class="navigation__title">
			<h1>VBK Stockholms Vingar</h1>
		</div>
	</a>
		<button aria-controls="navigation__main" aria-expanded="false" id="toggle-menu" class="navigation__menuIcon">
			<span id="navigation__menuText" class="navigation__menuText">Meny</span>
		</button>
		<div class="navigation__main" id="navigation__main">
			<ul class="navigation__mainList">
				<li class="navigation__mainItem">
					<a class="navigation__mainLink" href="index.html">Start</a>
				</li>
				<li class="navigation__mainItem">
					<a class="navigation__mainLink" href="team-page.html">Vingar A</a>
				</li>
				<li class="navigation__mainItem">
					<a class="navigation__mainLink" href="team-page.html">Vingar B</a>
				</li>
				<li class="navigation__mainItem">
					<a class="navigation__mainLink" href="team-page.html">Vingar C</a>
				</li>
				<li class="navigation__mainItem">
					<a class="navigation__mainLink" href="article-page.html">Om föreningen</a>
				</li>
			</ul>
			<div class="navigation__contact">
				<div class="navigation__contactInfo">
					<p>Kontaktuppgifter</p>
					<a href="tel:0707123456">0707-12 34 56</a>
					<a href="mailto:hasse@vbkvingar.se">kontaktmail@vbkvingar.se</a>
				</div>
			</div>
			<div class="navigation__social">
				<a href="https://www.instagram.com/if_stockholmsvingar/">
					<img src="../gui/images/instagram.svg" alt="Instagram-loggo" width="40" height="40">
				</a>
			</div>
		</div>
	</nav>
</header>